.blog{
    background-color: #F6F3ED;
    
    h1{
        color: #555E1E !important;
        font-size: 28px;
    }
    .card{
        background-color: #F6F3ED;
        border: 0;
        border-top:1px solid #dfdfdf;
        padding-top: 45px; 
        padding-bottom: 45px; 
        
        .date{
            background-color: white;
            width: max-content;
            position: absolute;
            z-index: 3;
            margin: 10px 0 0 10px;
            .date-day,.date-month{
                background-color: white;
                color: #333333 !important;
                font-weight:500;
                padding: 0 14px;
            }
            .date-day{
                font-size: 18px !important;
                
            }  
        }
        @media screen and (max-width: 432px) {
            button{
                margin-left: -156px;
            }
        }
        @media screen and (min-width: 820px) {
            .card-text{
                font-size: 23px;
            }
        }
        @media screen and (min-width: 1024px) {
            .card-text{
                font-size:38px;
            }
            .btn{
            padding: 15px 20px ;
            min-height: 42px;
            }
        }
        img{
            position: relative;
        }
        .card-text {
            color: #333333 ;
        }

        span{
            font-size: 16px !important;
            color: #A5A5A5 !important;
        }

        .btn{
            background-color: #555E1E;
            border: none;
            color: white !important;
            font-size: 13px !important;
            border-radius: 0;
            font-weight: 500;
        }
    }

    .card:hover .big-img{
        transform: scale(1.06);
        transition: ease-in-out;
        transition-duration: 0.3s;
    }
    .img-box{
        overflow: hidden;
    }
}