.empty-cart {
    p {
        color: #242424;
        font-size: 21px;
    }

    img {
        width: 40%;
    }
}

.cart {
    overflow-x: hidden;

    h2 {
        font-size: 28px;
        color: #555E1E;
    }

    .table {
        background-color: #F6F3ED00;

        thead,
        tbody,
        th,
        tr,
        td {
            background-color: #F6F3ED00;
        }

        .deletebutton {
            background-color: #F6F3ED00 !important;
        }

        thead {
            th {
                font-weight: 600;
                font-size: 17px;
            }
        }

        tbody {
            .tabletitle {
                color: #242424;
                font-size: 16px;
                padding-top: 34px;
                font-weight: 600;
            }

            .tableprice {
                color: #838383;
                font-size: 16px;
                padding-top: 34px;
                font-weight: 600;
            }

            .counttable {
                padding: 27px 25px;

                .countbox {

                    button,
                    span {
                        background-color: #5E682100 !important;
                        color: #777777 !important;
                    }

                    background-color: #5E682117 !important;
                }
            }

            .subtotaltable {
                color: #555E1E;
                font-size: 16px;
                padding: 34px 50px;
                font-weight: 600;

            }

        }
    }

    @media screen and (max-width: 780px) {
        .table {
            display: none;
        }
        .card{
            display: block !important;
        }
    }

    .card {
        display: none;
        .cart-title {
            color: #333333;
            font-size: 14px;
            font-weight: 600;
        }

        .deletebutton {
            background-color: #F6F3ED00 !important;
        }
        .cart-price{
            color: #777777;
            font-size: 14px;
        }
        .countbox {
            button,
            span {
                background-color: #5E682100 !important;
                color: #777777 !important;
                font-size: 14px;
            }
            background-color: #5E682117 !important;
        }
        .card-subtotal{
            color: #555E1E;
            font-size: 14px;
            font-weight: 700;
        }

    }

    .cart-con {
        background-color: #E7E5D9;

        h3 {
            font-size: 22px;
            color: #242424;
            letter-spacing: 1px;
        }

        .d-flex {
            border-bottom: 2px solid #6a6a6a;
        }

        .cart-title {
            color: #242424;
            font-size: 16px;
            padding: 3px 10px;
            font-weight: 600;
        }

        .form-check {
            color: #2c2c2c;
            font-size: 13px;
            font-weight: 500;
        }

        .cart-subtotal {
            color: #777777;
            font-size: 16px;
            font-weight: 500;
        }

        .total-box {
            color: #242424;
            font-size: 18px;
            font-weight: 600;
        }

        .cart-total {
            color: #555E1E;
            font-size: 22px;
            font-weight: 600;
        }

        button {
            font-size: 13px;
        }
    }
}