.checkout{
    h4{
        color: #242424;
        border-bottom: 2px solid #555E1E ;
    }
}

.checkoutbox{
    background-color: #E7E5D9;
    .boxborder{
        border-bottom: 2px solid #cac8c8;
    }
    .title{
        color: #242424;
        font-size: 16px;
        font-weight: 500;
    }
    .secondbox{
        color: #777777;
        font-size: 16px;
        font-weight: 500;
    }
    .subtotal{
        color: #5E6821;
        font-size: 18px;
        font-weight: 600;
    }
    .total-title{
        font-size: 19px;
        font-weight: 600;
    }
    .total{
        font-size: 22px;
        font-weight: 700;
        color: #5E6821;
    }
    .deletebutton {
        background-color: #F6F3ED00 !important;
        border: none;
    }
    .countbox {
        button,
        span {
            background-color: #5E682100 !important;
            color: #777777 !important;
            font-size: 14px;
        }
        background-color: #5E682117 !important;
    }
    @media screen and (max-width:576px) {
            .boxborder{
                span:nth-child(1){
                    display: none;
                }
                .col-7{
                    padding-left: 30px;
                }
            }
            .subtitle{
                display: none;
            }
    }
}