.light *{
    background-color: #F6F3ED;
    color: #373737;
    
    .slider *{
            background-color: #ffffff00;
    }
    .videocard *{
            background-color: #ffffff00;
    }
    .modal{
        background-color: #ffffff00;
    }
    
    .blog *{
        background-color: #F6F3ED;
    }
    .cart-con *{
        background-color: #ffffff00;
    }
    .checkoutbox *{
        background-color: #ffffff00;
    }
}

.dark *{
    background-color: #000;
    color: #bebebe !important;

    .slider *{
        background-color: #ffffff00;
    }
    .videocard *{
        background-color: #ffffff00;
    }
    .cart-con *{
        background-color: #ffffff00;
    }
    .cart-con{
        background-color: #333c32 !important;
    }
    .checkoutbox *{
        background-color: #ffffff00;
    }
    .checkoutbox{
        background-color: #333c32 !important;
    }
    .filteredproducts{
        background-color: #333c32 !important;
    }
}

.dark .blog *{
    background-color: #000;
    .card {
        border-top:1px solid #b8b6b6 ;
    }
}