.footer{
    background-color: #F6F3ED;
    li .nav-link{
        color: black;
    }
    li .nav-link:hover{
        color: #5E6821 !important;
    }

    .footer-top{
        border-bottom: 2px solid  rgba(94, 104, 33, 1);
        border-top: 2px solid  rgba(94, 104, 33, 1);
        padding: 60px 0;

        input {
        background-color: #E8E6DB;
        margin: 18px 0;
        width: 65%;
        }

        button{
            background-color: #555E1E;
            border: none;
            color: white !important;
            font-size: 13px;
            width: 25%;
            height: 6vh;
            margin: 18px 0;
        }

        .listtitle{
            font-size: 24px;

        }

    }
    
    .footerfirstcolumn{
        span{
            border: 2px solid #5E6821;
            border-radius: 50%;
            padding: 7px 11px 10px;
            margin-right: 10px;
        }
    }

    .footersecondcol{
        border-left: 2px solid #555E1E;
        margin-left: 87px;
        padding-left: 40px;
    }
    @media screen and (max-width: 770px) {
        .footersecondcol {
            border-left: none;
            margin-left: 0;
            padding-left: 13px;
        }
    }
    form h5{
        color: #242424;
        font-size: 24px;
        margin-top: 27px;
    }

    form .footer-text{
       color: #77778A !important;
    }

    .nav-link{
        line-height: 30px;
        color: black ;
    }
}