.navbar {
    background-color: #F6F3ED;
    // position: fixed !important;
    z-index: 9;
    width: 100%;
    .woodmarthead{
        border-bottom: 2px solid rgba(94, 104, 33, 1);
        padding-bottom: 8px;
        padding: 16px;

        button, .btn{
            border: none;
            background-color: #ffffff00 !important;
        }
        .nav-item{
            span{
                background-color: #5E6821 !important;
            }
        }
    }

    li .nav-link:hover{
        color:#5E6821 !important;
    }
    .dropdown-menu li{
        background-color: white;
    }
}

nav .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}