.shop {
    background-color: #F6F3ED;
    h1{
        font-size: 28px;
    }
    h2{
        color: #242424 ;
        font-size: 28px !important;
    }
    .exotictext{
        color: #777777 !important;
        font-size: 16px !important;
    }
    .card{
        background-color: #F6F3ED;
        button{
            background-color: #555E1E;
            border: none;
            color: white !important;
            font-size: 12px !important;
            border-radius: 0;
            padding: 5px 14px;
            min-height: 36px;
    }

   .fa-star{
        color: #EABE12 !important;
        font-size: 100% !important;
    }

    .card-title{
        color: #333333 ;
        font-size: 19px !important;

    }

    .card-text{
        color:#555E1E !important;
        font-weight: bold;
    }
    }
    ol{
        list-style: none;
        position: absolute;
        z-index: 9;
        background-color: #f4f4f4;
        li,p{
        background-color: #00000000;
        color: #242424 !important;
        }
    }
    del{
        color: #BBBBBB;
        font-size: 14px;
    }
    img:hover{
        transform: scale(1.06);
        transition: ease-in-out;
        transition-duration: 0.3s;
        position: relative;
 
    }
    .img-box{
        overflow: hidden;
    }
    .hover-button{
        position: absolute;
        background-color: white;
        right: 0;
        display: none;
        i{
            color: #242424;
            background-color: white;
        }
        button{
            background-color: white;
        }
    }
    img:hover .hover-button{
        transform: translateX(100px);
        transition: 1s;
    }
    .ant-select-selection-item,.ant-select-arrow{
        background-color: white;
        svg{
        background-color: white;
        }
    }
    .filteredproducts{
        background-color: white;
        height: 50vh;

        .form-check-label{
            font-size: 18px;
            color: #242424;
        }
    }
    .filteredproducts *{
        background-color: #00000000;
    }

}